<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/" id="homeLink">LensLink</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" id="photographersLink">Photographers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="servicesLink">Services</a>
                </li>
            </ul>
            <ul class="navbar-nav" id="authLinks">
            </ul>
        </div>
    </div>
</nav>

<script>
    document.getElementById('homeLink').href = CONFIG.BASE_URL;
    document.getElementById('photographersLink').href = `${CONFIG.BASE_URL}pages/photographers.html`;
    document.getElementById('servicesLink').href = `${CONFIG.BASE_URL}pages/services.html`;
</script>